<nav class="navbar navbar-expand-lg {{classList}}">
    <div class="{{container}}">
        <!-- Brand -->
        <a class="navbar-brand" href="{{webRoot}}/index.html">
            <img
                src="{{webRoot}}/assets/img/brand.png"
                class="navbar-brand-img"
                alt="..."
            />
        </a>

        <!-- Toggler -->
        <!-- <button
            class="navbar-toggler"
            type="button"
            data-bs-toggle="collapse"
            data-bs-target="#navbarCollapse"
            aria-controls="navbarCollapse"
            aria-expanded="false"
            aria-label="Toggle navigation"
        >
            <span class="navbar-toggler-icon"></span>
        </button> -->

        <!-- Collapse -->
        <div class="collapse navbar-collapse" id="navbarCollapse">
            <!-- Toggler -->
            <button
                class="navbar-toggler"
                type="button"
                data-bs-toggle="collapse"
                data-bs-target="#navbarCollapse"
                aria-controls="navbarCollapse"
                aria-expanded="false"
                aria-label="Toggle navigation"
            >
                <i class="fe fe-x"></i>
            </button>

            <!-- Navigation -->
            <ul class="navbar-nav ms-auto">
                <li class="nav-item dropdown">
                    <a
                        class="nav-link dropdown-toggle"
                        id="navbarPages"
                        data-bs-toggle="dropdown"
                        href="#"
                        aria-haspopup="true"
                        aria-expanded="false"
                    >
                        解决方案
                    </a>
                    <ul class="dropdown-menu" aria-labelledby="navbarPages">
                        <li class="dropdown-item dropend">
                            <a
                                class="dropdown-item"
                                href="{{webRoot}}/solutions/disaster-tolerance.html"
                            >
                                数据容灾
                            </a>
                        </li>
                        <li class="dropdown-item dropend">
                            <a
                                class="dropdown-item"
                                href="{{webRoot}}/solutions/real-time-sync.html"
                            >
                                实时备份
                            </a>
                        </li>
                        <li class="dropdown-item dropend">
                            <a
                                class="dropdown-item"
                                href="{{webRoot}}/signin-cover.html"
                            >
                                数据集成
                            </a>
                        </li>
                        <li class="dropdown-item dropend">
                            <a
                                class="dropdown-item"
                                href="{{webRoot}}/signin-cover.html"
                            >
                                读写分离
                            </a>
                        </li>
                        <li class="dropdown-item dropend">
                            <a
                                class="dropdown-item"
                                href="{{webRoot}}/signin-cover.html"
                            >
                                实时供给
                            </a>
                        </li>
                        <li class="dropdown-item dropend">
                            <a
                                class="dropdown-item"
                                href="{{webRoot}}/signin-cover.html"
                            >
                                实时ETL
                            </a>
                        </li>
                        <li class="dropdown-item dropend">
                            <a
                                class="dropdown-item"
                                href="{{webRoot}}/signin-cover.html"
                            >
                                数据分发
                            </a>
                        </li>
                    </ul>
                </li>
                <li class="nav-item dropdown">
                    <a
                        class="nav-link dropdown-toggle"
                        id="navbarPages"
                        data-bs-toggle="dropdown"
                        href="#"
                        aria-haspopup="true"
                        aria-expanded="false"
                    >
                        产品中心
                    </a>
                    <ul class="dropdown-menu" aria-labelledby="navbarPages">
                        <li class="dropdown-item dropend">
                            <a
                                class="dropdown-item"
                                href="{{webRoot}}/signin-cover.html"
                            >
                                数据复制
                            </a>
                        </li>
                        <li class="dropdown-item dropend">
                            <a
                                class="dropdown-item"
                                href="{{webRoot}}/signin-cover.html"
                            >
                                数据迁移
                            </a>
                        </li>
                        <li class="dropdown-item dropend">
                            <a
                                class="dropdown-item"
                                href="{{webRoot}}/signin-cover.html"
                            >
                                数据比对
                            </a>
                        </li>
                        <li class="dropdown-item dropend">
                            <a
                                class="dropdown-item"
                                href="{{webRoot}}/signin-cover.html"
                            >
                                文件备份
                            </a>
                        </li>
                        <li class="dropdown-item dropend">
                            <a
                                class="dropdown-item"
                                href="{{webRoot}}/signin-cover.html"
                            >
                                云数据库迁移
                            </a>
                        </li>
                    </ul>
                    <!-- / .row -->
                </li>
                <li class="nav-item dropdown">
                    <a
                        class="nav-link dropdown-toggle"
                        id="navbarAccount"
                        data-bs-toggle="dropdown"
                        href="#"
                        aria-haspopup="true"
                        aria-expanded="false"
                    >
                        行业案例
                    </a>
                    <ul class="dropdown-menu" aria-labelledby="navbarAccount">
                        <li class="dropdown-item dropend">
                            <a
                                class="dropdown-item"
                                href="{{webRoot}}/signin-cover.html"
                            >
                                金融
                            </a>
                        </li>
                        <li class="dropdown-item dropend">
                            <a
                                class="dropdown-link dropdown-toggle"
                                data-bs-toggle="dropdown"
                                href="#"
                            >
                                政府
                            </a>
                            <div class="dropdown-menu">
                                <a
                                    class="dropdown-item"
                                    href="{{webRoot}}/signin-cover.html"
                                >
                                    社保行业
                                </a>
                                <a
                                    class="dropdown-item"
                                    href="{{webRoot}}/signin-illustration.html"
                                >
                                    财政/公安行业
                                </a>
                            </div>
                        </li>
                        <li class="dropdown-item dropend">
                            <a
                                class="dropdown-item"
                                href="{{webRoot}}/signin-cover.html"
                            >
                                医疗
                            </a>
                        </li>
                        <li class="dropdown-item dropend">
                            <a
                                class="dropdown-item"
                                href="{{webRoot}}/signin-cover.html"
                            >
                                电信
                            </a>
                        </li>
                        <li class="dropdown-item dropend">
                            <a
                                class="dropdown-link dropdown-toggle"
                                data-bs-toggle="dropdown"
                                href="#"
                            >
                                保险
                            </a>
                            <div class="dropdown-menu">
                                <a
                                    class="dropdown-item"
                                    href="{{webRoot}}/error-cover.html"
                                >
                                    保险行业ETL
                                </a>
                                <a
                                    class="dropdown-item"
                                    href="{{webRoot}}/error-illustration.html"
                                >
                                    保险行业数据容灾
                                </a>
                            </div>
                        </li>
                        <li class="dropdown-item dropend">
                            <a
                                class="dropdown-item"
                                href="{{webRoot}}/signin-cover.html"
                            >
                                物流
                            </a>
                        </li>
                    </ul>
                </li>
                <li class="nav-item dropdown">
                    <a
                        class="nav-link dropdown-toggle"
                        id="navbarDocumentation"
                        data-bs-toggle="dropdown"
                        href="#"
                        aria-haspopup="true"
                        aria-expanded="false"
                    >
                        关于我们
                    </a>
                    <ul
                        class="dropdown-menu"
                        aria-labelledby="navbarDocumentation"
                    >
                        <li class="dropdown-item dropend">
                            <a
                                class="dropdown-item"
                                href="{{webRoot}}/signin-cover.html"
                            >
                                公司简介
                            </a>
                        </li>
                        <li class="dropdown-item dropend">
                            <a
                                class="dropdown-item"
                                href="{{webRoot}}/signin-cover.html"
                            >
                                工作机会
                            </a>
                        </li>
                        <li class="dropdown-item dropend">
                            <a
                                class="dropdown-item"
                                href="{{webRoot}}/signin-cover.html"
                            >
                                联系我们
                            </a>
                        </li>
                    </ul>
                </li>
            </ul>

            <!-- Button -->
            <!-- <a
                class="navbar-btn btn btn-sm btn-{{button}} lift ms-auto"
                href="https://themes.getbootstrap.com/product/landkit/"
                target="_blank"
            >
                Buy now
            </a> -->
        </div>
    </div>
</nav>
